
  <div id="preloader"></div>

  <!--==========================
  Hero Section
  ============================-->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">
        <div class="hero-logo">
        <h1 id="main-title">LOST & FOUND</h1>
         <!--<img class="" src="../assets/img/logo.png" alt="Imperial"/>-->
        </div>

        <h1>Welcome to Lost n Found</h1>
        <h2>We help in <span class="rotating">finding and returning, lost items or person.</span></h2>
        <div class="actions">
          <a href="#post" class="btn-get-started">Get Strated</a>
          <a href="#about" class="btn-services">About us</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Header Section
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
       <!-- <a href="#hero"><img src="../assets/img/logo.png" alt="" title="" /></a>-->
        <!-- Uncomment below if you prefer to use a text image -->
        <h1><a href="#hero">Lost&Found</a></h1>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#services">Services</a></li>
          <!--<li><a href="#portfolio">Portfolio</a></li>-->
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#team">Team</a></li>
          <li class="menu-has-children"><a href="">Drop Down</a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="menu-has-children"><a href="#">Drop Down 2</a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
              <li><a href="#">Drop Down 5</a></li>
            </ul>
          </li>
          <li><a href="#post">Post</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

  <!--==========================
  About Section
  ============================-->
  <section id="about">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">About Us</h3>
          <div class="section-title-divider"></div>
          <p class="section-description"></p>
        </div>
      </div>
    </div>
    <div class="container about-container wow fadeInUp">
      <div class="row">
        <div class="col-md-6 col-md-push-6 about-content">
          <h2 class="about-title">What we do and how to get started.</h2>
          <p class="about-text">
            We provide a global platform for the people who have lost or found something want to spread the word.  
          </p>
          <p class="about-text">
           We provide you the place to post details about the item and you so that someone can contact you if they find an item matching your details 
		   can return it to you. 
          </p>
          <p class="about-text">
           Lost or found item can be of any type, it can be a Person,vehicle,mobile,electronics,Document,identity, luggage etc. So if you have lost something or recieved something make a post. And we hope the best for you. :)
          </p>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Services</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Wondering what we can do for you. Then checkout below. </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-folder-open-o"></i></div>
          <h4 class="service-title"><a href="">LOST</a></h4>
          <p class="service-description">Lost something !! Make a post with details and increase your chances of finding your item.</p>
        </div>
        <div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-search"></i></div>
          <h4 class="service-title"><a href="">SEARCH</a></h4>
          <p class="service-description">Search for the different founded items in different categories.</p>
        </div>
        <!--<div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-paper-plane"></i></div>
          <h4 class="service-title"><a href="">Sed ut perspiciatis</a></h4>
          <p class="service-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
        </div>-->
		</div>
		
		<div class="row">
        <!--<div class="col-md-4 service-item">
          <div class="service-icon"><i class="fa fa-photo"></i></div>
          <h4 class="service-title"><a href="">Magni Dolores</a></h4>
          <p class="service-description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
        </div>-->
        <div class="col-md-12 service-item">
          <div class="service-icon"><i class="fa fa-folder-o"></i></div>
          <h4 class="service-title"><a href="">FOUND</a></h4>
          <p class="service-description">Found something !! and couldn't find its owner. Make a post with the item details and save owner some trouble.</p>
        </div>
        <!--<div class="col-md-6 service-item">
          <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
          <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
        </div>
		</div>-->
		</div>
    </div>
  </section>

  <!--==========================
  Subscrbe Section
  ============================-->
  <section id="subscribe">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-8">
          <h3 class="subscribe-title">Subscribe For Updates</h3>
          <p class="subscribe-text">Join our 1000+ subscribers and get access to the latest tools, freebies, product announcements and much more!</p>
        </div>
        <div class="col-md-4 subscribe-btn-container">
          <a class="subscribe-btn" href="#">Subscribe Now</a>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
  Porfolio Section
  ============================-->
  <section id="portfolio">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Portfolio</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Si stante, hoc natura videlicet vult, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-1.jpg);" href="">
            <div class="details">
              <h4>Portfolio 1</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-2.jpg);" href="">
            <div class="details">
              <h4>Portfolio 2</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-3.jpg);" href="">
            <div class="details">
              <h4>Portfolio 3</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-4.jpg);" href="">
            <div class="details">
              <h4>Portfolio 4</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-5.jpg);" href="">
            <div class="details">
              <h4>Portfolio 5</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-6.jpg);" href="">
            <div class="details">
              <h4>Portfolio 6</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-7.jpg);" href="">
            <div class="details">
              <h4>Portfolio 7</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

        <div class="col-md-3">
          <a class="portfolio-item" style="background-image: url(../assets/img/portfolio-8.jpg);" href="">
            <div class="details">
              <h4>Portfolio 8</h4>
              <span>Alored dono par</span>
            </div>
          </a>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Testimonials Section
  ============================-->
  <section id="testimonials">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Testimonials</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../assets/img/client-1.jpg" alt=""/></div>
            <h4>Saul Goodman</h4>
            <span>Lawless Inc</span>
          </div>
        </div>
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../assets/img/quote_sign_left.png" alt=""/></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="../assets/img/quote_sign_right.png" alt=""/></small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-9">
          <div class="quote">
            <b><img src="../assets/img/quote_sign_left.png" alt=""/></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="../assets/img/quote_sign_right.png" alt=""/></small>
          </div>
        </div>
        <div class="col-md-3">
          <div class="profile">
            <div class="pic"><img src="../assets/img/client-2.jpg" alt=""/></div>
            <h4>Sara Wilsson</h4>
            <span>Odeo Inc</span>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!--==========================
  Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <h3 class="section-title">Our Team</h3>
          <div class="section-title-divider"></div>
          <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="../assets/img/team-1.jpg" alt=""/></div>
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="../assets/img/team-2.jpg" alt=""/></div>
            <h4>Sarah Jhinson</h4>
            <span>Product Manager</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="../assets/img/team-3.jpg" alt=""/></div>
            <h4>William Anderson</h4>
            <span>CTO</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="member">
            <div class="pic"><img src="../assets/img/team-4.jpg" alt=""/></div>
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--==========================
  Contact Section
  ============================-->
  <section id="post">
  <div class="container">
  <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" (click)="changeTab(0)">LOST</a></li>
    <li><a data-toggle="pill" (click)="changeTab(1)">FOUND</a></li>
  </ul>
  
  <div class="tab-content">
    <div id="lost" *ngIf="tabIndex == 0" >
     <div class="row">
        <div class="col-md-12" style="left: 14%;margin-bottom: 2%;">
          <h3 class="section-title ">LOST</h3>
          <div class="section-title-divider"></div>
          <!--<p class="section-description margin-section-description">Please fill details of the lost item.</p>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-push-2">
          <div class="info">
          <div>
              <i class="fa fa-check-circle-o"></i>
              <p>Category</p>
            </div>

            <div>
              <i class="fa fa-map-marker"></i>
              <p>Name</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>Email Id</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>Phone Number</p>
            </div>
           
            <div>
            <i class="fa fa-photo"></i>
            <p>Attachment or Photo</p>
            </div>

            <div>
            <i class="fa fa-comment"></i>
            <p>Description</p>
            </div>



          </div>
        </div>


        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form  (ngSubmit)="onSubmit()" method="post" role="form" class="contactForm">
             <div class="form-group">
			      <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="selecteCategory" id="sel1">
				    <option value='0' selected>Lost</option>
				    <option value='1'>Found</option>
				  </select>
				  <div class="validation"></div>
				  </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="name" [ngModelOptions]="{standalone: true}"  name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" [(ngModel)]="email" [ngModelOptions]="{standalone: true}" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" [(ngModel)]="phone" [ngModelOptions]="{standalone: true}" name="subject" id="subject" placeholder="Your Phone no." data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
              <input id="fileUpload" name="FileUpload" [(ngModel)]="attachment" [ngModelOptions]="{standalone: true}" multiple="" type="file" /> 
              <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea [(ngModel)]="description" [ngModelOptions]="{standalone: true}" class="form-control" name="message" rows="5" data-rule="required" data-msg="Please enter a Description" placeholder="Details about Item or Person"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit" >Submit</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
	
	
	
    <div id="found" *ngIf="tabIndex == 1">
      
	   <div class="row">
        <div class="col-md-12" style="left: 14%;margin-bottom: 2%;">
          <h3 class="section-title">FOUND</h3>
          <div class="section-title-divider "></div>
<!--<p class="section-description margin-section-description">Please fill details of found item.</p>-->
        </div>
      </div>

      <div class="row">
        <div class="col-md-5 col-md-push-2">
          <div class="info">
          <div>
              <i class="fa fa-check-circle-o"></i>
              <p>Category</p>
            </div>

            <div>
              <i class="fa fa-map-marker"></i>
              <p>Name</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>Email Id</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>Phone Number</p>
            </div>
           
            <div>
            <i class="fa fa-photo"></i>
            <p>Attachment or Photo</p>
            </div>

            <div>
            <i class="fa fa-comment"></i>
            <p>Description</p>
            </div>



          </div>
        </div>


        <div class="col-md-5 col-md-push-2">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
             <div class="form-group">
			      <select class="form-control" id="sel1">
				    <option value='0'>Lost</option>
				    <option value='1' selected>Found</option>
				  </select>
				  <div class="validation"></div>
				  </div>
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Your Phone no." data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
              <input id="fileUpload" name="FileUpload" multiple="" type="file" /> 
              <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please enter a Description" placeholder="Details about Item or Person"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Submit</button></div>
            </form>
          </div>
        </div>

      </div>
	  
    </div>
   
  </div>
</div>
  </section>

  <!--==========================
  Footer
============================-->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved
          </div>
          <div class="credits">
            <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
            -->
            Bootstrap Templates by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer>


 